<footer class=" row mt-4 bg-success text-light ">
<p>Formation<br>Nos partenaires<br>Suivez nous sur</p>
<p><i class="fa-brands fa-facebook-f"></i></p>
<p><i class="fa-brands fa-twitter-square"></i></p>
<p><i class="fa-brands fa-linkedin-in"></i></p>
</footer>
</html>